@import url("reset.css");
@import url("variables.css");
@import url("layout.css");
@import url("components.css");


.quienes {
    max-width: 900px;         
    margin: 0 auto;           
    padding: 3rem 1rem;       
    text-align: justify;      
    line-height: 1.8;         
    font-size: 1.2rem;        
    color: var(--color-texto);
  }
  
  .quienes h1,
  .quienes h2,
  .quienes h3 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
